{{#each this}}
  <div class='countries-card__item'>
    <h2 class='countries-card__title'>{{name}}</h2>
    <div class='country__image--flag'>
      <img class='countries-card__img' width='150' src='{{flag}}' alt='flag' />
    </div>
    <ul class='countries-card__wrapper'>
      <li class='countries-card__info'>
        <p class='countries-card__parameter'>Capital:
          <span class='countries-card--italic'>{{capital}}</span></p>
      </li>
      <li>
        <p class='countries-card__parameter'>Population:
          <span class='countries-card--italic'>{{population}}</span></p>
      </li>
    </ul>
    <ul class='country-list'>
      <li class='country-list__text countries-card__parameter'>Languages:</li>
      {{#each languages}}
        <p
          class='country-list__item countries-card__parameter countries-card--italic'
        >{{this.name}}</p>
      {{/each}}
    </ul>

  </div>
{{/each}}